.App {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 5fr 4fr 4fr 1fr;
  grid-template-rows: 1fr 8fr 0.5fr;

  grid-template-areas:
    ". header header header . "
    ". sidebar content content ."
    "footer footer  footer  footer footer";

  .App-login-notice {
    grid-column: sidebar / content;
  }

  .App-note-options {
    grid-area: sidebar;
  }

  .App-note-section {
    grid-area: content / content;
  }
}
