.ListItem {
  border-left: 2px solid transparent;

  &:hover {
    border-left: 2px solid $secondary;
    cursor: pointer;
  }

  &.ListItem-active-item {
    border-left: 2px solid $secondary;
  }

  .ListItem-open-hint {
    height: $font-size-s;
  }

  .ListItem-title {

  }

  .ListItem-date {

  }

}
