// alignments

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify  {
  text-align: justify;
}

.text-nowrap   {
  white-space: nowrap;
}


// colors 

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-light {
  color: $light;
}

.text-dark {
  color: $dark;
}

.text-success {
  color: $success;
}

.text-warning {
  color: $warning;
}

.text-danger {
  color: $danger;
}
