@import './scss/bootstrap/config';

//import components styles here
@import './scss/components/Header';
@import './scss/components/LockButton';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
